/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url(https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

$sidenav-primary: #185694;
$sidenav-bg: #106CC8;
$sidenav-border: #267ED5;
$link-hover: #4054B2;

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
