<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<section ui-view="sidenav" layout="column"></section>
<div layout="column" tabindex="-1" role="main" flex>
    <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar" ui-view="header"></md-toolbar>
    <md-content class="content" ui-view="content" flex layout-padding></md-content>
</div>
