<md-dialog aria-label="Ajouter une compétence" flex="20">
    <form ng-submit="appComp.submit()" name="addComp.addForm" novalidate>
        <md-dialog-content>
            <h2 class="md-title">Ajout d'une compétence</h2>
            <md-input-container flex>
                <label>Nom</label>
                <input name="nom" ng-model="addComp.competence.nom" required focus-on="add-comp">

                <div ng-if="addComp.addForm.nom.$touched" ng-messages="addComp.addForm.nom.$error">
                    <div ng-message="required">Veuillez fournir le nom de la compétence.</div>
                </div>
            </md-input-container>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <md-button ng-click="addComp.cancel()" class="md-primary">
                Annuler
            </md-button>
            <md-button ng-click="addComp.submit()" class="md-primary">
                Ajouter
            </md-button>
        </div>
    </form>
</md-dialog>

