<h1>Liste des compétences</h1>

<md-data-table-container>
    <table md-data-table md-progress="competences.progress">
        <thead md-order="competences.paginationService.table.order">
        <tr>
            <th order-by="nom">Nom</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="comp in competences.data | orderBy: competences.paginationService.table.order |
        filter: competences.paginationService.paginate | limitTo: competences.paginationService.table.limit track by comp.id">
            <td>{{comp.nom}}</td>
        </tr>
        </tbody>
    </table>
</md-data-table-container>
<table-pagination total="{{competences.data.length}}">
    <md-button class="md-raised md-primary" ng-click="competences.addDialog()">
        <md-icon class="material-icons md-default-theme">add</md-icon> Ajouter une compétence
    </md-button>
</table-pagination>
